@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: #0d0d0d;
    --primary: #f5f5f5;
    --secondary: #0053FE;
    --tertiary: #0036EF;
    --quaternary: #00FE4B;
}

* {
    font-family: 'Jost';
    color: var(--primary);
    transition: 0.3s;
}

html, body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  display: grid;
  justify-content: center;
  font-size: 16px;
  min-width: 1100px;
}

button {
    background: var(--secondary);
    border: solid 2px var(--secondary);
    padding: 10px 20px;
    color: var(--primary);
    font-weight: 600;
    border-radius: 10px;
  }

    button:hover {
        background: 0;
        cursor: pointer;
   }

   a {
    text-decoration: none;
    color: var(--primary);
   }

h1 {
    font-size: 36px;
    font-weight: 700;
    margin: 10px 0;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    color: var(--tertiary);
    margin: 0;
    margin-top: -10px;
}

.center {
  width: inherit;
  max-width: 1080px;
  display: inherit;
  align-items: center;
}

  header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  logo {
    margin-bottom: 10px;
  }
  
  logo img {
    height: 40px;
    padding: 10px;
  }

  nav {
    display: flex;
    height: 100%;
    margin: auto;
    align-items: center;
    gap: 30px;
  }

  nav a {
    text-decoration: none;
    color: var(--primary);
    font-size: 18px;
    font-weight: 500;
  }

    nav a:hover {
        color: var(--secondary);
    }

    .btn {
        background: 0;
    }

    .btn:hover {
        background: var(--secondary);
        cursor: pointer;
    }

    .background {
      position: absolute;
      height: 100vh ;
      top: 72px;
      filter: grayscale() opacity(0.2);
      margin-left: -140vh;
    }

    .container {
      width: 100%;
      height: 100%;
      max-width: 1080px;
      z-index: 1;
      justify-items: center;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      justify-self: center;
    }

  .sectionTitle {
    text-align: center;
    letter-spacing: 1px;
    margin-top: 5px;
}

  .hero {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 768px;
}

.resumo {
  grid-area:  2 / 1 / 3 / 2;
  width: 100%;
  height: 86vh;
  min-height: 768px;

}

.resumo div, .skills div, .projetos div {
  width: inherit;
  margin: auto;
  margin-bottom: auto;
  height: fit-content;
  margin-bottom: 50px;
  text-align: center;
}

.skills {
  grid-area:  3 / 1 / 4 / 2;
  width: 100%;
  height: fit-content;
}

  .projetos {
    grid-area:  4 / 1 / 5 / 2;
    width: 100%;
    height: fit-content;
  }

  profile {
    width: 60%;
    display: block;
    padding: 20px;
  }

  directions {
    display: inline-flex;
    height: 45px;
    gap: 10px;
  }

  .btn-round, .btn-round a {
    font-size: 20px;
    padding: 6px;
    border-radius: 50%;
    display: flex;
  }

  pfpic {
    width: 307px;
    display: flex;
    justify-content: center;
    aspect-ratio: 1;
  }

  .pfpic {
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
    backdrop-filter: blur(8px);
    background-color: rgba(5, 10, 26, 0.31);
    opacity: 1;
  }

  .profile-photo {
    width: 300px;
  }

  card {
    padding: 30px;
    background: #0f0f0f;
    border: solid 1px #FFFFFF1A;
    border-radius: 10px;
    width: 150px;
    display: inline-block;
    text-align: center;
    color: #000;
    margin: 5px 15px;
  }

  card:hover, .card-hover {
    border: solid 5px var(--secondary);
    cursor: pointer;
    margin: 0 20px;
  }

  card svg {
    width: 100px;
  }

  card p {
    color: #5e5e5e;
  }

  n {
    display: block;
    color: var(--secondary);
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 20px;
  }

  code {
    display: block;
    margin: 50px;
    padding: 20px;
    background: #181818;
    box-shadow: inset 0 0 10px #00000096;
    border-radius: 10px;
    text-align: left;
    font-weight: 300;
    height: 200px;
    border-top: solid 30px #070707;
  }

  pre-code {
    font-weight: 500;
    color: var(--quaternary);
  }

  secondary {
    color: var(--secondary);
  }

  code span, code pre-code {
    font-family: DM Mono;
  }

  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  #_ {
    animation: blink 1.5s infinite;
    font-weight: 500;
  }

  buttons {
    display: flex;
    gap: 10px;
    font-weight: bold;
    margin-top: -42px;
    margin-bottom: 21px;
    justify-content: end;
  }

  li {
    padding: 15px;
    margin: 10px;
    background: #0f0f0f;
    border-radius: 10px;
    border: solid 1px #FFFFFF1A;
    width: 80px;
    height: 80px;
    display: inline-grid;
    justify-items: center;
  }

  li i {
    margin-bottom: 7px;
    font-size: 50px;
  }

  li img {
    width: 47px;
  }

  projeto {
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    background: #0f0f0f;
    border: solid 1px #FFFFFF1A;
    width: 500px;
  }

  projeto img {
    width: 230px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

projeto h3 {
  color: var(--secondary);
  font-size: 20px;
  margin-top: 5px;
}

projeto button {
  font-size: 15px;
  width: 100%;
  padding: 13px;
}

.footer {
  width: 100vw;
  height: 200px;
  background: #070707;
  margin-top: 100px;
  display: grid;
}

.footer div {
  width: 1000px;
  margin: auto;
  background: #070707;
  border-radius: 10px;
  margin-top: -60px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.42), 0 0 0 1px var(--tertiary);
}

#titulo {
  font-size: 25px;
  font-weight: bold;
  padding: 20px 0;
  padding-left: 50px;
}

#chamado {
  font-size: 20px;
  width: 230px;
  text-align: center;
  align-self: center;
  margin-right: 35px;
}

#fim {
  width: 130px;
  padding-right: 50px;
}

foot {
  text-align: center;
  align-self: end;
  margin-bottom: 15px;
}
/*
@media only screen and (max-width: 1200px) {
    header {
        height: 90px;
    }
}
*/
